.Sudoku-table {
  border-collapse: collapse;
  border: 3px solid #000000;
  margin: 0 auto;
  padding: 0;
  font-size: 4vmin;
  background-color: #f3f6fa;
}

.Sudoku-td {
  border: 1px solid grey;
  height: 6vmin;
  width: 6vmin;
}

.Sudoku-input {
  width: 6vmin;
  height: 6vmin;
  text-align: center;
  font-size: 4vmin;
  border: none;
  color: blue;
}

.Sudoku-button {
  margin: 1vmin;
}

.Sudoku-row:nth-child(3n) {
  border-bottom: 3px solid #000000;
}

.Sudoku-td:nth-child(3n) {
  border-right: 3px solid #000000;
}
